body {
    margin-top: 100px;
    /* background-color: ghostwhite; */
}

hr {
    background-color: rebeccapurple;
}
footer {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #CC30BF;
    margin-top: 30pt;
    background-color: whitesmoke;
}

p {
    font-family: 'Raleway', sans-serif;
}

.profilepic {
    height: 275px;
    border-radius: 100%;
}
.title {
    font-family:'Raleway', sans-serif; 
    font-size: 20pt;
    padding-top: 20pt;
    margin-left: 15pt;
}
.navbar {
    background-color: whitesmoke;
    border-bottom: 1px rebeccapurple solid;
}


.navbar-light .navbar-nav .nav-link {
    color: rebeccapurple;
}
.nav-item {
    font-family: 'Homemade Apple', cursive;
    font-size: 20px;
}
.name {
    font-family: 'Homemade Apple', cursive;
    font-size: 42pt;
    color: rebeccapurple;
    padding-left: 15px;
    padding-top: 10px;
}
.navbar-toggler {
    border: none; 
}

.navbar-toggler-icon {
    color: rebeccapurple;
}

.intro {
    margin-top: 40px;
}

.card-header {
    font-family: 'Homemade Apple', cursive;
    color: rebeccapurple;
    font-size: 30px;
    background: white;
    text-align: right;
    border: none;
}

.card {
    border: none;
}

.card-text {
    font-family: 'Raleway', sans-serif;
}

#skillsTitle { 
    text-align: left;
}

#contactTitle {
    text-align: left;
}


/* font-family: 'Raleway', sans-serif;
font-family: 'Homemade Apple', cursive; */

fab fa-[name] 3x or 5x

fa-spin rotates